body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: pink;
}

#question-container {
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: bold; 
}

#question-image {
    max-width: 50vh;
    height: auto;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #d42786;
    color: white;

}

button:hover {
    background-color: #b3006e;
}

#no-btn {
    position: absolute; 
    transition: all 1s ease;
}